.form {
  display: flex;
  flex-direction: column;
}

.container {
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 130px;
}

.table {
  margin: auto;
}

.table_container {
  padding: 1.5rem;
  border: 1px solid #e7cbcb;
  border-radius: 25px;
  border-width: 0.2rem;
  border-width: 2.5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* position: relative; */
  width: 886px;
  max-width: 886px;
}
